/*
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    
    .container {
        img {
            max-width: 100%;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            @include span-columns(1 of 2);
            @include omega(2n);
        }
        
        .range {
            @include span-columns(12 of 16);
        }
        .actionIcons {
            @include shift(0.5 of 16);
            @include span-columns(1.5 of 16);
        }
        .navigationIcons {
            @include shift(0.5 of 16);
            @include span-columns(1.5 of 16);
            @include omega();
        }
        
        input[type="range"] {
            width: 100%;
            
              -webkit-appearance: none;
              background: none;
            
        }
        input[type=range]::-webkit-slider-runnable-track {
          height: 4px;
          background: #717171;
          border: none;
          border-radius: 1px;
        }

        input[type=range]::-ms-track {
          height: 4px;
          background: #717171;
          border: none;
          border-radius: 1px;
        }

        input[type=range]::-moz-range-track {
          height: 4px;
          background: #717171;
          border: none;
          border-radius: 1px;
        }

        input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          height: 20px;
          width: 5px;
          border-radius: 1px;
          background: white;
          margin-top: -8px;
          position: relative;
        }

        input[type=range]::-ms-thumb {
          -webkit-appearance: none;
          border: none;
          height: 20px;
          width: 5px;
          border-radius: 1px;
          background: white;
          margin-top: -8px;
          position: relative;
        }

        input[type=range]::-moz-range-thumb {
          -webkit-appearance: none;
          border: none;
          height: 20px;
          width: 5px;
          border-radius: 1px;
          background: white;
          margin-top: -8px;
          position: relative;
        }

        input[type=range]:hover {
          outline: none;
          &::-webkit-slider-thumb:after {
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            background: #eee;
            border-radius: 5px;
            color: #555;
            padding: 5px 10px;
            border: 2px solid #555;
          }
          &::-ms-thumb:after {
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            background: #eee;
            border-radius: 5px;
            color: #555;
            padding: 5px 10px;
            border: 2px solid #555;
          }
          &::-moz-range-thumb:after {
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            background: #eee;
            border-radius: 5px;
            color: #555;
            padding: 5px 10px;
            border: 2px solid #555;
          }
        }

        input[type=range]:hover::-webkit-slider-runnable-track {
          background: #ccc;
        }

        input[type=range]:hover::-ms-track {
          background: #ccc;
        }

        input[type=range]:hover::-moz-range-track {
          background: #ccc;
        }
        
    }
} */

button.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 2em 2em;
    width: auto;
    padding: 0 0 0.5em;
    opacity: 0.6;
    @include transition (all 0.3s ease-in-out);
    z-index: 300;
    border: none;
    border-bottom: solid thin transparent;
    
    h3 {
        font-size: 1em;
        margin: 0;
        letter-spacing: 5px;
        
        span {
            font-size: 1.2em;
        }
        
    }

    &:hover {
        opacity: 1;
        border-bottom: solid thin white;
        box-shadow: none !important; 
    }
    &:focus {
        outline: none;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
    width: 370px;
    height: 100%;
    
    clear: both;
    
    .container {
        clear: both;
        padding-top: 2em;
        overflow: auto;  
        background-color: rgba(0, 0, 0, 0.8);
        //border: solid 0.5em white;
        height: 100%;
    }
    
    
    
    aside {
        ul {
            li {
                padding: 1em 3em;
                position: relative;
                
                &:hover {
                    h3 {
                        //border-bottom: solid thin white;
                        //text-decoration: underline;
                        color: #ffffff;
                    }
                    background-color: rgba(0,0,0,0.8);
                    cursor: pointer;
                }
                
            }
        }
    }
    
    li {
                
        h3 {
            border-bottom: solid thin transparent;
            color: #aca9ac;
        }
    }
    
    ul {
        padding: 0;
        margin: 0;
        clear: both;
    }
    
    h3 {
        font-size: 1.2em;
        letter-spacing: 2px;
        padding: 0;
        margin: 0;
        text-align: left;
        font-weight: normal;
        color: #aca9ac;
    }
    .icons {
        width: 100%;
        clear: both;
        
        h3 {
            display: inline-block;
            line-height: 1.9em;
            color: white;
        }
        
        li:first-child {
            padding-bottom: 1em;
        }
        
        li {
            list-style: none;
            clear: both;
            
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
            
            
            img {
                float: left;
                max-width: 100%;
                padding: 1em;
                height: 2.2em;
                padding: 0 0.5em 0 0;
            }
        }
    }
}
.navigationIcons  {
    position: absolute;
    bottom: 3em;
    left: 3em;
}