@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "backgrounds";
//@import "stories";
//@import "color-overlays";
@import "ui-elements.scss";
@import "pace.css";
@import "highlights";
@import "matts-css.css";
@import "nav";


$grid-columns: 16;
$max-width: 1920px;

// breakpoints
$very-large: new-breakpoint(max-width 90000px 16);
$large-screen: new-breakpoint(max-width 10260px 16);
$normal-screen: new-breakpoint(min-width 768px max-width 1020px 16);
$all-devices: new-breakpoint(max-width 959px 16);
$navbar-snap: new-breakpoint(max-width 639px 8);
$tablets: new-breakpoint(min-device-width 768px max-device-width 1024px 8);
$mobiles: new-breakpoint(max-device-width 480px min-device-width 320px 4);

$em: 16;

html, body {
    height: 100%;
    background-color: #0054ab;
}

.slide {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.relative {
    position: relative;
}

body {
    font-size: $em * 1px;
}

@include media($tablets) {
    body { font-size: ($em - 4) * 1px }
}

#outerContainer {
    height: 100%;
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
}

.vh100 {
    height: 100vh;
    width: 100%;
}
.w100 {
    width: 100%;
}
.container {
    max-width: 75em;
    margin: auto;
}

.opacityFull { 
    opacity: 1;
}
.opacityNone {
    opacity: 0;
}


.rightContent {
    float: right;
    width: 50%;
    height: 100%;
}
.leftContent {
    float: left;
    width: 50%;
    height: 100%;
}
h1 {
    &.s {
        padding-top: 20%;
        position: relative;
        
        //font-size: 150px;
        line-height: 1.2;
        
        @include media($tablets) {
            padding-top: 28%;
        }
    }
    &.d {
        padding-top: 16%;
        position: relative;
        
        //font-size: 150px;
        line-height: 1.2;
        
        @include media($tablets) {
            padding-top: 24%;
        }
        
        &.tt {
            @include media($tablets) {
                padding-top: 18%;
            }
        }
        
    }
}

.blueSquare {
    position: fixed;
    top: 0;
    right: 0;
    width: 5em;
    height: 5em;
    background-color: #0055a6;
    z-index: 1;
}

// Home 
.logo { 
    padding: 2em 0 6em;
    margin: auto;
    display: block;
    width: 160px;
    position: relative;
}
.title {
    margin: 8em auto 0;
    display: block;
    max-width: 100%;
    position: relative;
}
.heroText {
    h3 {  
        position: relative;
        margin: 0;
    }
    h4 {
        position: relative;
    }
}
#loader {
    max-width: 100%;
    width: 38em;
    padding: 2em;
    margin: 0 auto;

    position: absolute;
    top: 46.2%;
    left: 34.3%;
}
.introKids {
    margin: 0 auto;
    display: block;
}

// Story Boxes
.story-box {
    margin: 10em 0 0;
    position: absolute;
    left: 980px;
    background-color: rgba(0,0,0,0.6);
    top: 0;
}
.story-panel {
    margin: 0;
    //overflow: auto;
    //background-color: black;
    height: 100%;
    position: absolute;
    right: -820px;
    top: 0;
    padding: 0;
    float: none;
    border: none;
    
    article {
        //padding: 100px 100px 60px 100px;
        height: 100%;
        
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@include media($tablets) {
    .story1, .story2, .story3, .slide28 {
        > img, .content > img {
            top: auto !important;
            bottom: 0 !important;
            position: absolute !important;
            left: 0;
            width: 60%
        }
    }
    .story-box {
        left: 48em;
        
        p.small-paragraph {
            font-size: 1.5em;
        }
    }
    
    .story-panel {
        width: 75%;
    }
    
    
}


#slide8 > img {
    position: relative;
}
#slide8 {
    overflow: hidden;
}
#slide15 > img {
    position: relative;
}
#slide15 {
    overflow: hidden;
}

button.close {
    color: white;
    border: none;
    padding: 5px;
    width: 2.5em;

    position: absolute;
    top: -2em;
    right: 2em;
    
    img {
        width: 100%;
    }
    
    opacity: 0.7;
    
    &:hover {
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    &:active {
        outline: none;
    }
}
.navArrows {
    position: fixed;
    bottom: 1em;
    right: 2em;
    z-index: 3;
    
    height: 5em;
    width: 1.5em;
    
    img {
        width: 1.5em;
        display: block;
        opacity: 0.6;
        @include transition (opacity 0.1s ease-in-out);
        
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
        }
        &.hover {
            opacity: 1;
        }
    }
    img.navUp {
        margin-bottom: 1em;
    }
}
#storyBox2 {
    width: 438px;
}
.tim-message {
    position: absolute;
    top: 0;
    width: 728px;
    max-width: 100%;
    right: 0;
    overflow: auto;
    height: 100%;
    
    img {
        display: block;
        margin: 0;
        height: 4em;
    }
    p.story-paragraph.img {
        margin-top: 3em;
        margin-bottom: 1em;
    }
    
    article {
        padding: 160px 0px 0px 0px;
        width: 580px;
        max-width: 100%;
        
        * {
            position: relative;
        }
        
    }
    
    @include media($tablets) {

        width: 580px;

        article { 
            width: 520px;
            padding-top: 60px;
        }
        
    }
}

// Sprite animations

// Down button - done with CSS animations

@keyframes downbutton {  
    0% { background-position: 0 0; }
    100% { background-position: 0 -900px; }
}
@-moz-keyframes downbutton {  
    0% { background-position: 0 0; }
    100% { background-position: 0 -900px; }
}
@-webkit-keyframes downbutton {  
    0% { background-position: 0 0; }
    100% { background-position: 0 -900px; }
}

#downButton {
    background: url(/img/0_Home_DownArrow_tiny.png) 0 0 no-repeat;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    
    animation: downbutton 1.25s steps(12, end) infinite;
    -webkit-animation: downbutton 1.25s steps(12, end) infinite; 
    -moz-animation: downbutton 1.25s steps(12, end) infinite; 
    border-radius: 100%;
    
    @include transition (background-position 0.3s ease-in-out);
    
    &:hover {  
        -webkit-box-shadow: 0 0 2em 0em rgba(255,255,255,0.7);
        box-shadow: 0 0 2em 0em rgba(255,255,255,0.7);
    }
    
    position: absolute;
    bottom: 25px;
    display: block;
    left: 48%;
}

#incomeContainer * {
    position: relative
}

#expenditureContainer * {
    position: relative
}

#world {
    background: url(/img/2_LetterWriting_Flying_05.svg) 0 0 no-repeat;
    margin: 0 auto;
    background-size: 19200px;
    //opacity: 0.4;
    background-attachment: fixed;
    height: 100%;
}
#bibleVerseTrigger {
    padding-top: 2em;
    
    @include media($tablets) {
        padding-top: 0;
    }
    
}
#bibleVerseAnimate {
    background: url(/img/5_Thankyou_Bibleverse.svg) 0 0 no-repeat;
    width: 800px;
    height: 800px;
    background-size: 800px 3200px;
    margin: 0 auto;
    position: relative;
}

#revenueGraph {
    background: url(/img/3_Finance_IncomeSprite.svg) 0 0 no-repeat;
    height: 960px;
    width: 960px;
    background-size: 960px;
    margin-top: -4em;
    position: relative;
}
#expenditureGraph {
    background: url(/img/3_Finance_ExpenditureSprite.svg) 0 0 no-repeat;
    height: 960px;
    width: 960px;
    background-size: 960px;
    margin-top: -4em;
    position: relative;
}
.innerCircle {
    max-width: 400px;
    width: 100%;
    padding: 35.5% 0 0 0;
    margin: 0 auto;
    
    img {
        margin: 0 auto 1.5em;
        display: block;
    }
    .number {
        margin-bottom: 0.1em;
    }
    .text {
        font-size: 30px;
    }
}
.leftContent {
    @include media($tablets) {
        width: 100%;
        
        div {
            margin-top: 20em;
            margin-left: 0;
        }
        
        h2 {
            margin-bottom: 0.2em;
        }
        
    }
    
    div {
        margin-top: 15em;
        margin-left: 6em;
        
        @include media($tablets) {
            margin-top: 20em;
            margin-left: 0;
        
        }
    }
}
.financeIcons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    .circle {
        display: inline-block;
        border-radius: 100%;
        @include transition (all 0.05s ease-in-out);
        box-shadow: none;
        -webkit-box-shadow: none;
        
        &:hover {
            -webkit-box-shadow: 0 0 2em 0em rgba(255,255,255,0.7);
            box-shadow: 0 0 2em 0em rgba(255,255,255,0.7);
            
            img {
                -webkit-box-shadow: inset 0 0 2em 0em rgba(255,255,255,0.7);
                box-shadow: inset 0 0 2em 0em rgba(255,255,255,0.7);  
            }
            
        }
        
        &.other {
            opacity: 0.4;
        }
        
        img {
            width: 100%;
            border-radius: 100%;
            @include transition (all 0.2s ease-in-out);
            background-color: transparent;
            
            box-shadow: none;
            -webkit-box-shadow: none;

        }
    }
    ul {
        list-style: none;
        padding: 0 0 0 0;
        margin: 0 auto; 

        &.rev {
            max-width: 628px;
        }
        &.exp {
            max-width: 420px;
        }
        
        li {
            list-style: inherit;
            display: inline-block;
            position: relative;
        }
    }
}

//Video BG Magic

.bg-video {
    width: 100%;
    
    @include media($tablets) {
        width: auto;
        height: 100%;
    }
    
}
#bgVideoOverlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.darken {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    @include transition (all 0.5s ease-in-out);
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
    &.active {
        background-color: rgba(0,0,0,0.3);
    }
}

button {
    -webkit-box-shadow: 0 0 5em 0em rgba(255,255,255,0.0);
    box-shadow: 0 0 5em 0em rgba(255,255,255,0.0);
    @include transition (all 0.2s ease-in-out);
}
